body {
    height: 100vh;
    align-items: center;
    background-image: url("../img/loginbackground.jpg ");
    background-size: cover;
    overflow-y: hidden;
}

.container{
    background-color: rgba(0,0,0,0.3);
    width: 440px;
    box-shadow: grey 0 7px 29px 0;
    padding: 40px 32px;
    border-radius: 8px;
    position: absolute;
    display: grid;
    left: 33%;
    top: 40%;
    border: solid 1px black;
}
.container form .input-box input {
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 46px;
    letter-spacing: 0.03rem;
    background: black;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;

}

.text {
    position: absolute;
    left: 70%;
    top: 20%;
    font-size: x-large;
}
.input-box {
    margin-bottom: 10px;
}
.registerbtn{
    width: 100%;
    margin-top: 15px;
    background: black;
    color: white;
}
.registerbtn:hover {
    cursor: pointer;
    color: black;
    background: transparent;
    transition-delay: 1s;
}

.input-box input,
.input-box select,
.input-box button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

