body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.productcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-item {
    width: calc(25% - 20px); /* Adjust width calculation as needed */
    margin: 10px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
    .product-item {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .product-item {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 500px) {
    .product-item {
        width: calc(100% - 20px);
    }
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.product-item button:hover {
    background-color: white;
    color: black;
}
